.container {
  overflow-y: auto;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  width: 39%;
  color: white;
}

.header h2 {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.header p {
  color: rgb(160, 152, 139);
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  font-weight: 400;
}

/* Add button */
.button {
  display: flex;
  margin: 0 auto;
}

.close {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

/* Close button */
.close-button {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}
.close-button:hover {
  opacity: 1;
}
.close-button:before,
.close-button:after {
  position: absolute;
  right: 1.5rem;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: rgb(160, 152, 139);
}
.close-button:before {
  transform: rotate(45deg);
}
.close-button:after {
  transform: rotate(-45deg);
}
