.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(203, 199, 192);
  width: 16vw;
  padding: 10px 0 10px 0;
}

/* add padding between childs */
.container > * {
  padding: 5px;
}

.name {
  display: flex;
  align-items: center;
}

.name p {
  padding-left: 0.4rem;
  font-weight: 500;
}

.name img {
  width: 26px;
  height: 26px;
}

p {
  font-weight: 300;
}

p span {
  font-weight: 500;
}
